In [230]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('Student_performance_data.csv')

# Verify the dataframe
print(df)

      StudentID  Age  Gender  Ethnicity  ParentalEducation  StudyTimeWeekly  \
0          1001   17       1          0                  2        19.833723
1          1002   18       0          0                  1        15.408756
2          1003   15       0          2                  3         4.210570
3          1004   17       1          0                  3        10.028829
4          1005   17       1          0                  2         4.672495
...         ...  ...     ...        ...                ...              ...
2387       3388   18       1          0                  3        10.680555
2388       3389   17       0          0                  1         7.583217
2389       3390   16       1          0                  2         6.805500
2390       3391   16       1          1                  0        12.416653
2391       3392   16       1          0                  2        17.819907

      Absences  Tutoring  ParentalSupport  Extracurricular  Sports  Music  \
0            7         1                2                0       0      1
1            0         0                1                0       0      0
2           26         0                2                0       0      0
3           14         0                3                1       0      0
4           17         1                3                0       0      0
...        ...       ...              ...              ...     ...    ...
2387         2         0                4                1       0      0
2388         4         1                4                0       1      0
2389        20         0                2                0       0      0
2390        17         0                2                0       1      1
2391        13         0                2                0       0      0

      Volunteering       GPA  GradeClass
0                0  2.929196         2.0
1                0  3.042915         1.0
2                0  0.112602         4.0
3                0  2.054218         3.0
4                0  1.288061         4.0
...            ...       ...         ...
2387             0  3.455509         0.0
2388             0  3.279150         4.0
2389             1  1.142333         2.0
2390             0  1.803297         1.0
2391             1  2.140014         1.0

[2392 rows x 15 columns]

In [231]:
# Drop duplicates if they exist
df = df.drop_duplicates()

In [232]:
# Check if there are columns with null values
df.isnull().sum()

StudentID            0
Age                  0
Gender               0
Ethnicity            0
ParentalEducation    0
StudyTimeWeekly      0
Absences             0
Tutoring             0
ParentalSupport      0
Extracurricular      0
Sports               0
Music                0
Volunteering         0
GPA                  0
GradeClass           0
dtype: int64

In [233]:
# Check the data types
df.dtypes

StudentID              int64
Age                    int64
Gender                 int64
Ethnicity              int64
ParentalEducation      int64
StudyTimeWeekly      float64
Absences               int64
Tutoring               int64
ParentalSupport        int64
Extracurricular        int64
Sports                 int64
Music                  int64
Volunteering           int64
GPA                  float64
GradeClass           float64
dtype: object

In [234]:
# Drop the StudentID column
df.drop(['StudentID'], axis=1, inplace=True)

In [235]:
# Modify the data types

df['Gender'] = df['Gender'].astype(str)
df['Ethnicity'] = df['Ethnicity'].astype(str)
df['ParentalEducation'] = df['ParentalEducation'].astype(str)
df['Tutoring'] = df['Tutoring'].astype(str)
df['ParentalSupport'] = df['ParentalSupport'].astype(str)
df['Extracurricular'] = df['Extracurricular'].astype(str)
df['Sports'] = df['Sports'].astype(str)
df['Music'] = df['Music'].astype(str)
df['Volunteering'] = df['Volunteering'].astype(str)
df['GradeClass'] = df['GradeClass'].astype(int)
df['GradeClass'] = df['GradeClass'].astype(str)

In [236]:
# Filter the rows where Age is not between 15 and 18
df_invalid = df[~((df['Age'] >= 15) & (df['Age'] <= 18))]

print(df_invalid)

Empty DataFrame
Columns: [Age, Gender, Ethnicity, ParentalEducation, StudyTimeWeekly, Absences, Tutoring, ParentalSupport, Extracurricular, Sports, Music, Volunteering, GPA, GradeClass]
Index: []

In [237]:
# Filter the rows where Gender is not 0 or 1
df_invalid = df[~df['Gender'].isin(['0', '1'])]
print(df_invalid)

Empty DataFrame
Columns: [Age, Gender, Ethnicity, ParentalEducation, StudyTimeWeekly, Absences, Tutoring, ParentalSupport, Extracurricular, Sports, Music, Volunteering, GPA, GradeClass]
Index: []

In [238]:
# Filter the rows where Ethnicity is not 0, 1, 2 or 3
df_invalidos = df[~df['Ethnicity'].isin(['0', '1', '2', '3'])]
print(df_invalid)

Empty DataFrame
Columns: [Age, Gender, Ethnicity, ParentalEducation, StudyTimeWeekly, Absences, Tutoring, ParentalSupport, Extracurricular, Sports, Music, Volunteering, GPA, GradeClass]
Index: []

In [239]:
# Filter the rows where StudyTimeWeekly is not between 0 and 20
df_invalid = df[~((df['StudyTimeWeekly'] >= 0) & (df['StudyTimeWeekly'] <= 20))]
print(df_invalid)

Empty DataFrame
Columns: [Age, Gender, Ethnicity, ParentalEducation, StudyTimeWeekly, Absences, Tutoring, ParentalSupport, Extracurricular, Sports, Music, Volunteering, GPA, GradeClass]
Index: []

In [240]:
# Filter the rows where ParentalEducation is not 0, 1, 2, 3 or 4
df_invalid = df[~df['ParentalEducation'].isin(['0', '1', '2', '3', '4'])]
print(df_invalid)

Empty DataFrame
Columns: [Age, Gender, Ethnicity, ParentalEducation, StudyTimeWeekly, Absences, Tutoring, ParentalSupport, Extracurricular, Sports, Music, Volunteering, GPA, GradeClass]
Index: []

In [241]:
# Filter the rows where Absences is not between 0 and 30
df_invalid = df[~((df['Absences'] >= 0) & (df['Absences'] <= 30))]
print(df_invalid)

Empty DataFrame
Columns: [Age, Gender, Ethnicity, ParentalEducation, StudyTimeWeekly, Absences, Tutoring, ParentalSupport, Extracurricular, Sports, Music, Volunteering, GPA, GradeClass]
Index: []

In [242]:
# Filter the rows where Tutoring is not 0 or 1
df_invalid = df[~df['Tutoring'].isin(['0', '1'])]
print(df_invalid)

Empty DataFrame
Columns: [Age, Gender, Ethnicity, ParentalEducation, StudyTimeWeekly, Absences, Tutoring, ParentalSupport, Extracurricular, Sports, Music, Volunteering, GPA, GradeClass]
Index: []

In [243]:
# Filter the rows where ParentalSupport is not 0, 1, 2, 3 or 4
df_invalid = df[~df['ParentalSupport'].isin(['0', '1', '2', '3', '4'])]
print(df_invalid)

Empty DataFrame
Columns: [Age, Gender, Ethnicity, ParentalEducation, StudyTimeWeekly, Absences, Tutoring, ParentalSupport, Extracurricular, Sports, Music, Volunteering, GPA, GradeClass]
Index: []

In [244]:
# Filter the rows where Extracurricular is not 0 or 1
df_invalid = df[~df['Extracurricular'].isin(['0', '1'])]
print(df_invalid)

Empty DataFrame
Columns: [Age, Gender, Ethnicity, ParentalEducation, StudyTimeWeekly, Absences, Tutoring, ParentalSupport, Extracurricular, Sports, Music, Volunteering, GPA, GradeClass]
Index: []

In [245]:
# Filter the rows where Sports is not 0 or 1
df_invalid = df[~df['Sports'].isin(['0', '1'])]
print(df_invalid)

Empty DataFrame
Columns: [Age, Gender, Ethnicity, ParentalEducation, StudyTimeWeekly, Absences, Tutoring, ParentalSupport, Extracurricular, Sports, Music, Volunteering, GPA, GradeClass]
Index: []

In [246]:
# Filter the rows where Music is not 0 or 1
df_invalid = df[~df['Music'].isin(['0', '1'])]
print(df_invalid)

Empty DataFrame
Columns: [Age, Gender, Ethnicity, ParentalEducation, StudyTimeWeekly, Absences, Tutoring, ParentalSupport, Extracurricular, Sports, Music, Volunteering, GPA, GradeClass]
Index: []

In [247]:
# Filter the rows where Volunteering is not 0 or 1
df_invalid = df[~df['Volunteering'].isin(['0', '1'])]
print(df_invalid)

Empty DataFrame
Columns: [Age, Gender, Ethnicity, ParentalEducation, StudyTimeWeekly, Absences, Tutoring, ParentalSupport, Extracurricular, Sports, Music, Volunteering, GPA, GradeClass]
Index: []

In [248]:
# Filter the rows where GPA is not between 0 and 4
df_invalid = df[~((df['GPA'] >= 0) & (df['GPA'] <= 4))]
print(df_invalid)

Empty DataFrame
Columns: [Age, Gender, Ethnicity, ParentalEducation, StudyTimeWeekly, Absences, Tutoring, ParentalSupport, Extracurricular, Sports, Music, Volunteering, GPA, GradeClass]
Index: []

In [249]:
# Filter the rows where GradeClass is not 0, 1 , 2 or 3
df_invalid = df[~df['GradeClass'].isin(['0', '1', '2', '3', '4'])]
print(df_invalid)

Empty DataFrame
Columns: [Age, Gender, Ethnicity, ParentalEducation, StudyTimeWeekly, Absences, Tutoring, ParentalSupport, Extracurricular, Sports, Music, Volunteering, GPA, GradeClass]
Index: []

In [250]:
# Check the GradeClass conditions based on GPA
invalid_conditions = (
    ((df['GradeClass'] == '0') & (df['GPA'] < 3.5)) |
    ((df['GradeClass'] == '1') & ((df['GPA'] < 3.0) | (df['GPA'] >= 3.5))) |
    ((df['GradeClass'] == '2') & ((df['GPA'] < 2.5) | (df['GPA'] >= 3.0))) |
    ((df['GradeClass'] == '3') & ((df['GPA'] < 2.0) | (df['GPA'] >= 2.5))) |
    ((df['GradeClass'] == '4') & (df['GPA'] >= 2.0))    
)

# Filter the rows that don't meet the conditions
df_invalid = df[invalid_conditions]

# Mostrar las filas que no cumplen las condiciones
print(df_invalid)

      Age Gender Ethnicity ParentalEducation  StudyTimeWeekly  Absences  \
2176   18      1         0                 2        17.528419         3
2177   18      0         2                 1         4.033104         3
2178   17      1         1                 4         1.564842        14
2179   18      1         1                 2        15.762379        14
2181   15      0         2                 1         3.253044        13
...   ...    ...       ...               ...              ...       ...
2387   18      1         0                 3        10.680555         2
2388   17      0         0                 1         7.583217         4
2389   16      1         0                 2         6.805500        20
2390   16      1         1                 0        12.416653        17
2391   16      1         0                 2        17.819907        13

     Tutoring ParentalSupport Extracurricular Sports Music Volunteering  \
2176        0               3               0      0     1            0
2177        1               3               0      0     0            1
2178        0               1               0      1     0            0
2179        0               2               1      1     0            0
2181        1               1               0      0     0            0
...       ...             ...             ...    ...   ...          ...
2387        0               4               1      0     0            0
2388        1               4               0      1     0            0
2389        0               2               0      0     0            1
2390        0               2               0      1     1            0
2391        0               2               0      0     0            1

           GPA GradeClass
2176  3.137624          3
2177  3.189217          2
2178  1.795369          3
2179  2.435958          4
2181  1.844056          1
...        ...        ...
2387  3.455509          0
2388  3.279150          4
2389  1.142333          2
2390  1.803297          1
2391  2.140014          1

[168 rows x 14 columns]

In [251]:
df_corrected = df_invalid.copy()  

# Correct GradeClass
df_corrected.loc[df['GPA'] >= 3.5, 'GradeClass'] = '0'  # If GPA >= 3.5, GradeClass = 0
df_corrected.loc[(df['GPA'] >= 3.0) & (df['GPA'] < 3.5), 'GradeClass'] = '1'  # If 3.0 <= GPA < 3.5, GradeClass = 1
df_corrected.loc[(df['GPA'] >= 2.5) & (df['GPA'] < 3.0), 'GradeClass'] = '2'  # If 2.5 <= GPA < 3.0, GradeClass = 2
df_corrected.loc[(df['GPA'] >= 2.0) & (df['GPA'] < 2.5), 'GradeClass'] = '3'  # If 2.0 <= GPA < 2.5, GradeClass = 3
df_corrected.loc[df['GPA'] < 2.0, 'GradeClass'] = '4'  # If GPA < 2.0, GradeClass = 4

In [252]:
print(df_corrected)

      Age Gender Ethnicity ParentalEducation  StudyTimeWeekly  Absences  \
2176   18      1         0                 2        17.528419         3
2177   18      0         2                 1         4.033104         3
2178   17      1         1                 4         1.564842        14
2179   18      1         1                 2        15.762379        14
2181   15      0         2                 1         3.253044        13
...   ...    ...       ...               ...              ...       ...
2387   18      1         0                 3        10.680555         2
2388   17      0         0                 1         7.583217         4
2389   16      1         0                 2         6.805500        20
2390   16      1         1                 0        12.416653        17
2391   16      1         0                 2        17.819907        13

     Tutoring ParentalSupport Extracurricular Sports Music Volunteering  \
2176        0               3               0      0     1            0
2177        1               3               0      0     0            1
2178        0               1               0      1     0            0
2179        0               2               1      1     0            0
2181        1               1               0      0     0            0
...       ...             ...             ...    ...   ...          ...
2387        0               4               1      0     0            0
2388        1               4               0      1     0            0
2389        0               2               0      0     0            1
2390        0               2               0      1     1            0
2391        0               2               0      0     0            1

           GPA GradeClass
2176  3.137624          1
2177  3.189217          1
2178  1.795369          4
2179  2.435958          3
2181  1.844056          4
...        ...        ...
2387  3.455509          1
2388  3.279150          1
2389  1.142333          4
2390  1.803297          4
2391  2.140014          3

[168 rows x 14 columns]

In [253]:
# Replace incorrect values with the correct ones
df.update(df_corrected, overwrite=True)
print(df)

      Age Gender Ethnicity ParentalEducation  StudyTimeWeekly  Absences  \
0      17      1         0                 2        19.833723         7
1      18      0         0                 1        15.408756         0
2      15      0         2                 3         4.210570        26
3      17      1         0                 3        10.028829        14
4      17      1         0                 2         4.672495        17
...   ...    ...       ...               ...              ...       ...
2387   18      1         0                 3        10.680555         2
2388   17      0         0                 1         7.583217         4
2389   16      1         0                 2         6.805500        20
2390   16      1         1                 0        12.416653        17
2391   16      1         0                 2        17.819907        13

     Tutoring ParentalSupport Extracurricular Sports Music Volunteering  \
0           1               2               0      0     1            0
1           0               1               0      0     0            0
2           0               2               0      0     0            0
3           0               3               1      0     0            0
4           1               3               0      0     0            0
...       ...             ...             ...    ...   ...          ...
2387        0               4               1      0     0            0
2388        1               4               0      1     0            0
2389        0               2               0      0     0            1
2390        0               2               0      1     1            0
2391        0               2               0      0     0            1

           GPA GradeClass
0     2.929196          2
1     3.042915          1
2     0.112602          4
3     2.054218          3
4     1.288061          4
...        ...        ...
2387  3.455509          1
2388  3.279150          1
2389  1.142333          4
2390  1.803297          4
2391  2.140014          3

[2392 rows x 14 columns]

In [254]:
df.to_csv('Students_Modified.csv', index=False)